{% extends "base.html.twig" %}

{% block title %}Liste des inscriptions d'un employé{% endblock %}

{% block content %}
    <h3>Liste des inscriptions de l'employé {{employe.nom}} {{employe.prenom}}</h3>
    {% if inscriptions is empty %}
        <div class="alert alert-danger">Aucune inscription enregistrée pour cette employé</div>
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date de début</th>
                    <th>Nombres d'heures</th>
                    <th>Produit de la formation</th>
                    <th>Département</th>
                    <th>Description</th>
                    <th>Nom et prénom</th>
                    <th>Statut</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for inscription in inscriptions %}
                    <tr>
                        <td>{{inscription.id}}</td>
                        <td>{{inscription.formation.dateDebut|date("d/m/Y")}}</td>
                        <td>{{inscription.formation.nombreHeures}}h</td>
                        <td>{{inscription.formation.produit.libelle}}</td>
                        <td>{{inscription.formation.departement}}</td>
                        <td>{{inscription.formation.description}}</td>
                        <td>{{inscription.employe.nom}} {{inscription.employe.prenom}}</td>
                        <td>{{inscription.statut}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}