<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Formations - Ubisoft</title>
    <link rel="icon" type="image/x-icon" href="/img/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
        .content {
            margin-top: 2%;
            margin-left: 5%;
            margin-right: 5%;
        }
    </style>
    {% block style %}{% endblock %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a href="{{path("app_index")}}" class="navbar-brand">
                    <img src="/img/logo.png" height="75" alt="Logo de l'entreprise Ubisoft">
                </a>
                <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a href="{{path("app_index")}}" class="nav-link active">Acceuil</a>
                        </li>
                        {% if is_granted("ROLE_ADMIN") %}
                            <li class="nav-item">
                                <a href="{{path("app_employe_list")}}" class="nav-link active">Liste des employés</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{path("app_inscription_list")}}" class="nav-link active">Liste des inscriptions</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{path("app_formation_list")}}" class="nav-link active">Liste des formations</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{path("app_produit_list")}}" class="nav-link active">Liste des produits</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{{path("app_inscription_list")}}" class="nav-link active">Vos inscriptions</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{path("app_formation_list")}}" class="nav-link active">Liste des formations</a>
                            </li>
                        {% endif %}
                    </ul>  
                    <a href="{{path("app_logout")}}" class="btn btn-outline-danger">Déconnexion</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    {% block script %}{% endblock %}
</body>
</html>