{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <h3>Acceuil</h3>
    <p>Connecté, en tant que 
        {% if app.user.nom and app.user.prenom %}
            {{app.user.nom}} {{app.user.prenom}}
        {% else %}
            {{app.user.username}}
        {% endif %}
    </p>
    <br>
    {% if is_granted("ROLE_ADMIN") %}
        <h5>Histogramme :</h5>
        <div class="chart">
            <canvas id="chart"></canvas>
        </div>
    {% endif %}
{% endblock %}

{% block style %}
    <style>
        .chart {
            position: relative; 
            height:50%; 
            width:50%
        }
    </style>
{% endblock %}

{% block script %}
    {% if is_granted("ROLE_ADMIN") %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            const chart = document.getElementById("chart");

            new Chart(chart, {
                type: "doughnut",
                data: {
                    labels: ["En attentes", "Acceptées", "Refusées"],
                    datasets: [{
                        label: 'Nombre de formations',
                        data: [{{inscriptionsEnattentes|length}}, {{inscriptionsAcceptees|length}}, {{inscriptionsRefusees|length}}],
                        backgroundColor: ["rgb(255, 255, 0)", "rgb(0, 128, 0)", "rgb(255, 0, 0)"],
                        hoverOffset: 4
                    }]
                }
            });
        </script>
    {% endif %}
{% endblock %}
