{% extends 'base.html.twig' %}

{% block title %}Ajout d'un employé{% endblock %}

{% block content %}
    <h3>Ajout d'un employé</h3>
    {{form_start(formulaire)}}
        <label for="employe_add_nom">
            Nom
            {{form_widget(formulaire.nom)}}
        </label>
        <br>
        <label for="employe_add_prenom">
            Prénom
            {{form_widget(formulaire.prenom)}}
        </label>
        <br>
        <label for="employe_add_username">
            Identifiant
            {{form_widget(formulaire.username)}}
        </label>
        <br>
        <label for="employe_add_password">
            Mot de passe
            {{form_widget(formulaire.password)}}
        </label>
        <br>
        <label for="employe_add_roles">
            Rôles <i>(Permission d'accès)</i> :
            {{form_widget(formulaire.roles)}}
        </label>
        <br>
        {{form_widget(formulaire.submit)}}
    {{form_end(formulaire)}}
{% endblock %}

{% block style %}
<style>
    label {
        margin-bottom: 1%;
    }
</style>
{% endblock %}